<div id="book">
  <div id="story">
    <p id="opening">Once upon a time...</p>
    <%= render :partial => "story_contribution" , :collection => @story_contributions %>
  </div>
</div>
<%- flash.each do |name, msg| -%>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<%- end -%>
<% form_for :story_contribution, :url => {:controller => "story_contributions", :action => "create"}, :html => {:id => "contribution"} do |f| %>
  <%= f.label :text, "Now, you continue the story" %>:
  <div class="textarea_wrapper">
    <%= f.text_area :text, :rows => 4, :cols => 50 %>
    <p id="characters_remaining" class="valid">140 characters remaining</p>
  </div>
  <%= f.submit "Submit" %>
<% end %>
