<div class="panel">
  <p class="first last">Welcome to the byte Night Bedtime Story&hellip;</p>
</div>
<div id="book">
  <div id="story">
    <p id="opening">Once upon a time...</p>
    <% cache "story" do -%>
      <%= render :partial => "story_contribution" , :collection => StoryContribution.approved %>
    <% end -%>
  </div>
</div>
<% form_for :story_contribution, :url => {:controller => "story_contributions", :action => "create"}, :html => {:id => "contribution"} do |f| %>
  <%= f.label :text, "Now, you continue the story&hellip;" %>
  <div class="textarea_wrapper">
    <%= f.text_area :text, :rows => 4, :cols => 50 %>
    <p id="characters_remaining" class="valid">140 characters remaining</p>
  </div>
  <%= f.label :name, "Your name (optional)" %>
  <%= f.text_field :name %>
  <%= f.submit "Submit" %>
<% end %>
