<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%= title %></title>
    <%= stylesheet_link_tag "960", "formtastic", "reset", "text", "formtastic", "formtastic_changes", "application", :cache => true %>
    <!--[if IE 6]>
    <%= stylesheet_link_tag "960-ie", :cache => true %>
    <![endif]-->
    <%= javascript_include_tag "jquery", "application", "google_analytics" %>
  </head>
  <body>
    <div id="header" class="container_12">
      <div class="grid_12 ">
        <a href="http://www.actionforchildren.org.uk/"><img src="/images/action-for-children.png" alt="Action for Children" id="action_for_children" /></a>
        <a href="http://www.bytenight.org.uk/"><img src="/images/byte-night.png" alt="Byte Night 2010" id="byte_night" /></a>
        <h1><%= link_to '<img src="/images/bedtime-story.png" alt="Bedtime Story" />', :root %></h1>
      </div>
    </div>
    <div id="content" class="container_12">
      <div id="left_sidebar" class="grid_2">
        <ul class="links">
          <%= link_to_home %>
          <%= link_to_page "stories", "Byte Night stories" %>
          <%= link_to_page "hints", "Hints and tips" %>
          <%= link_to_page "ideas", "Ideas to get you started" %>
          <%= link_to_page "words", "Top 10 bedtime story words" %>
          <%= link_to_page "famous", "Famous contributors" %>
          <li><a href="http://www.bytenight.org.uk/donate.cfm" id="donate_inactive"><span>Donate</span></a></li>
        </ul>
      </div>
      <div id="main" class="grid_8 ">
        <%= yield %>
      </div>
      <div id="right_sidebar" class="grid_2 sidebar">
        <%= render :partial => 'home/countdown_timer' %>
      </div>
    </div>
    <div class="clear"></div>
    <div id="footer" class="container_12">
      <div class="grid_12 ">
        <p>Registered charity nos. 1097940/SC038092. Company no. 4764232.
          |
          <a href="/privacy">Privacy Policy</a>
          |
          <a href="/t_and_c">Terms &amp; Conditions</a>
        </p>
      </div>
    </div>
    <%= preload_images %>
  </body>
</html>
