<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%= title %></title>
    <%= stylesheet_link_tag :all, :cache => true %>
  </head>
  <body>
    <div id="header" class="container_12">
      <div class="grid_12 ">
        <a href="http://www.actionforchildren.org.uk/"><img src="images/action-for-children.png" alt="Action for Children" class="logo" /></a>
        <a href="http://www.bytenight.org.uk/"><img src="images/byte-night.png" alt="Byte Night 2010" class="logo" /></a>
        <h1><img src="/images/bedtime-story.png" alt="Bedtime Story" /></h1>
      </div>
    </div>
    <div id="content" class="container_12">
      <div id="left_sidebar" class="grid_3 sidebar">
        <ul class="links">
          <li><%= link_to "Home", :root %></li>
          <li><%= link_to "Byte Night stories", :page => :stories %></li>
          <li><a href="javascript:alert('Not yet implemented')">Hints and tips</a></li>
          <li><a href="javascript:alert('Not yet implemented')">Ideas to get you started</a></li>
          <li><a href="javascript:alert('Not yet implemented')">Top ten bedtime story words</a></li>
          <li><a href="javascript:alert('Not yet implemented')">Famous contributors</a></li>
        </ul>
      </div>
      <div id="main" class="grid_6 ">
        <%= yield %>
      </div>
      <div id="right_sidebar" class="grid_3 sidebar">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
      </div>
    </div>
    <div class="clear"></div>
    <div id="footer" class="container_12">
      <div class="grid_12 ">
        <p>Registered charity nos. 1097940/SC038092. Company no. 4764232.
          |
          <a href="javascript:alert('Not yet implemented')">Privacy Policy</a>
          |
          <a href="javascript:alert('Not yet implemented')">Terms &amp; conditions</a>
        </p>
      </div>
    </div>
  </body>
</html>
