<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%= title %></title>
    <%= stylesheet_link_tag :all, :cache => true %>
    <%= javascript_include_tag "application", "google_analytics" %>
  </head>
  <body>
    <div id="header" class="container_12">
      <div class="grid_12 ">
        <a href="http://www.actionforchildren.org.uk/"><img src="/images/action-for-children.png" alt="Action for Children" class="logo" /></a>
        <a href="http://www.bytenight.org.uk/"><img src="/images/byte-night.png" alt="Byte Night 2010" class="logo" /></a>
        <h1><%= link_to '<img src="/images/bedtime-story.png" alt="Bedtime Story" />', :root %></h1>
      </div>
    </div>
    <div id="content" class="container_12">
      <div id="left_sidebar" class="grid_2">
        <ul class="links">
          <li><%= link_to image_tag("stories.png", :alt => "Byte Night stories"),
            :controller => :pages, :action => :show, :page => "stories" %></li>
          <li><%= link_to image_tag("hints.png", :alt => "Hints and tips"),
            :controller => :pages, :action => :show, :page => "hints" %></li>
          <li><%= link_to image_tag("ideas.png", :alt => "Ideas to get you started"),
            :controller => :pages, :action => :show, :page => "ideas" %></li>
          <li><%= link_to image_tag("words.png", :alt => "Top 10 bedtime story words"),
            :controller => :pages, :action => :show, :page => "words" %></li>
          <li><%= link_to image_tag("famous.png", :alt => "Famous contributors"),
            :controller => :pages, :action => :show, :page => "famous" %></li>
        </ul>
      </div>
      <div id="main" class="grid_7 ">
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <%- end -%>
        <%= yield %>
      </div>
      <div id="right_sidebar" class="grid_3 sidebar">
        <p>Countdown timer of some sort will go here</p>
      </div>
    </div>
    <div class="clear"></div>
    <div id="footer" class="container_12">
      <div class="grid_12 ">
        <p>Registered charity nos. 1097940/SC038092. Company no. 4764232.
          |
          <a href="javascript:alert('Not yet implemented')">Privacy Policy</a>
          |
          <a href="javascript:alert('Not yet implemented')">Terms &amp; conditions</a>
        </p>
      </div>
    </div>
  </body>
</html>
